body{
    background-color: #F6F6F6;
}
ul{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none !important;
}
.nav .nav-link:hover .sub-menu{ 
    display: block !important;
}
.sub-menu li:hover{
    background-color: #ff4546;
    color: white;
}
.cat-overlay{
    top: 0;
    left: 10%;
}
.social-link{
    bottom: 1%;
    z-index: 99;
    left: 0;
}
.social-link a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 14px;
    transform: rotate(45deg);
    color: #fff;
}
.social-link i{
    transform: rotate(-45deg);
}
.social-link ul li:nth-child(1) a{
    background: #1877f2;
}
.social-link ul li:nth-child(2) a{
    background: #1da1f2;
}
.social-link ul li:nth-child(3) a{
    background: #c32aa3;
}
.social-link ul li:nth-child(4) a{
    background: #ff0000;
}
.social-link ul li:nth-child(5) a{
    background: #007bb5;
}